<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://dubbo.apache.org/schema/dubbo"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://dubbo.apache.org/schema/dubbo http://dubbo.apache.org/schema/dubbo/dubbo.xsd">
    <dubbo:application name="dubbo-spring-provider"/>
    <dubbo:registry address="nacos://127.0.0.1:8848"/>
    <dubbo:protocol name="dubbo" port="20890"/>

    <!-- 和本地bean一样实现服务 -->
    <dubbo:service interface="com.liuyanzhao.provider.api.service.UserService" ref="userServiceImpl" group="provider" version="1.0"/>
    <dubbo:service interface="com.liuyanzhao.provider.api.service.RoleService" ref="roleServiceImpl" group="provider" version="1.0"/>
</beans>